/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav div {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav div:hover {
cursor: pointer;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  color: #666;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

.login-tab {
  margin-left: auto; /* Push the login tab to the right */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px; /* Increase the padding for a thicker bar */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle separation */
  }

  li {
    margin-right: 0; /* Remove the right margin for mobile */
  }
}