body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #003366, #00cccc);
    background-size: cover;
  }

.full-div {
  font-family: 'Arial', sans-serif;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #003366, #00cccc);
    background-size: cover;
}
  
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 14px; /* Increase padding for better touch interaction */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  button:hover {
    background-color: #45a049;
  }

  @media (max-width: 768px) {
    nav {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 15px; /* Increase the padding for a thicker bar */
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle separation */
    }
  
    li {
      margin-right: 0; /* Remove the right margin for mobile */
    }
  }
  